body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");

.main-container {
  display: flex;
  height: 92vh;
}

.body {
  background-color: #f6fafd;
}

h1 {
  font-family: Poppins;
  font-size: 22px;
  font-weight: 600;
  line-height: 33px;
  letter-spacing: 0.01em;
}

h2 {
  font-family: Poppins;
  font-size: 20px;
  font-weight: 600;
  line-height: 33px;
  letter-spacing: 0.01em;
  align-self: center;
}

h3 {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 33px;
  letter-spacing: 0.01em;
}

h4 {
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  margin: 0px;
  line-height: 33px;
  letter-spacing: 0.01em;
}

h5 {
  font-family: Poppins;
  font-size: 12px;
  font-weight: 400;
  margin: 0px;
  line-height: 33px;
  letter-spacing: 0.01em;
}

div {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 33px;
  letter-spacing: 0.01em;
}

input {
  width: 300px;
  height: 40px;
  top: 6px;
  left: 480px;
  padding: 10px 12px 10px 12px;
  border: 0px;
  border-radius: 6px;

  box-shadow: 0px 0px 0px 1px rgba(134, 143, 160, 0.16),
    0px 1px 2px 0px rgba(0, 0, 0, 0.06);
}

select {
  font-size: small;
  width: 320px;
  height: 40px;
  top: 6px;
  left: 480px;
  padding: 10px 12px 10px 12px;
  border: 0px;
  border-radius: 6px;

  box-shadow: 0px 0px 0px 1px rgba(134, 143, 160, 0.16),
    0px 1px 2px 0px rgba(0, 0, 0, 0.06);
}
